
@import url(./footer.css);
@import url(./header.css);
@import url(./timeIngredentsSection.css);
@import url(./preparation.css);
@import url(./image.css);
body{
    max-width: 65%;
    
     
     margin: auto;
}

h1{
     display: flex;
     justify-content: center;
     color: brown;
     
     

}
h2,h3{
     font-size: medium;
     color: blue;
     text-align:center;
}

.form{
     margin-left: 1%;
     width: 80%;
     margin-bottom: 2%;
}


